<div class="my-2" data-controller="maps" data-action="google-maps-callback@window->map#initializeMap">
<div class="card" style="30%">
 
</p>
  <div class="card-body">
    <h3 class="card-text"><%= @conservation.name %></h3>
    <h6 class="card-title"><%= @conservation.address %></h6>
     <p class="c-map-view" data-maps-target="map">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h6><%= @conservation.description %></h6></li>
    <li class="list-group-item" data-maps-target="longitude"><h6>Longitude:-</h6><%= @conservation.longitude %></li>
    <li class="list-group-item" data-maps-target="latitude"><h6>Latitude:-</h6><%= @conservation.latitude %></li>
  </ul>
  <div class="card-body">
  	 <ul class="list-group list-group-flush list-group-horizontal">
    <li class="list-group-item">
    	<%= link_to "Edit this conservation", edit_conservation_path(@conservation), class:"btn btn-dark" %> 
    	
    </li>
    <li class="list-group-item">
    	<%= link_to "Back to conservations", conservations_path, class:"btn btn-dark" %>
    </li>
    <li class="list-group-item">
    	<%= button_to "Destroy this conservation", @conservation, method: :delete , class:"btn btn-dark" %>
    </li>
  </ul>
  </div>
</div>

</div>


